<h1>Salut <%= @user.first_name %> !</h1>
==========================================================
<p>
Tu as créé l'évènement : <%= @event.title %> et quelqu'un vient de s'y inscrire !
</p>
<p>
Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
</p>
<p>
À très vite !
</p>