<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3" style="color:white;" >EventFlop</h1>
      <h3 style="color:white;">Des events hyper bof</h3>
      <br/><br/>
    </div>
  </div>


  <div class="row">
      <% @events.each_with_index do |event, i| %>
        <div class="card border-primary mb-4 mx-auto" style="max-width: 20rem;">
          <div class="card-header"> Event <%= event.id %></div>
            <div class="card-body">
              <h4 class="card-title"><%= event.title %></h4>
                <p class="card-text"><%= event.description %></p>

              <%= link_to "Découvre l'évènement", event_path(event.id), class: "nav-link"  %>
            </div>
        </div>
      <% end %>
  </div>
</div>
